@import '../../../styles/global.scss';

.root {
  margin: 25px;
}

.gallery {
  margin-top: 20px;
  width: 100%;
  max-height: 100%;
  margin: 10px 0 10px 0;

  &_button {
    border: 1px solid white;
    background-color: white;
  }

  &_thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &_active {
    border: 1px solid $text-color;
    background-color: white;
    transition: all 1s;
  }
}

.image {
  width: 150%;
  height: 150%;
  object-fit: contain;
}

.description {
  margin: 20px;
  width: 50%;
}

.productInfo {
  padding: 10%;
  color: $text-color;

  h1 {
    font-weight: bold;
  }

  .new_price {
    font-size: $base-size * 3;
    color: rgb(228, 43, 43);
    font-weight: bold;
  }

  .old_price {
    font-size: $base-size * 2;
    margin-left: 10px;
    text-decoration: line-through;
  }

  .regular_price {
    font-size: $base-size * 3;
    font-weight: bold;
  }

  p {
    margin: 15px 0;
  }
}