@import './settings.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin-bottom: 0;
  padding: 0;
  background: $background;
  font-family: $main-font;
  font-size: ($base-size * 1.1);
  color: $text;
  letter-spacing: 0.5px;
}

:global(.container) {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

@import './typography.scss';